.card {
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-width: 300px;
  background-color: lightblue;
}
.thisDayWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thisDayTemp {
  font-size: 22px;
  color: #243e9b;
  font-weight: 600;
}
.thisDayCurrentDay {
  font-weight: 500;
}
.thisDayTime,
.thisDayCity {
  margin-bottom: 10px;
  font-weight: 500;
}
.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
