.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.header-name div {
  color: #c7eb8e;
  font-weight: 700;
}
.DetailedWrapper {
  display: flex;
  justify-content: center;
}
